
      
      <div class="reg-form-text">
         Login Form
     </div>
  
     
     <form action="/login/user" method="post">
         
         <div class="reg-form-field">
             <input type="text" id="email" name="email" required>
             <span class="fas fa-envelope"></span>
             <label for="email">Email</label>
         </div>
         <div class="reg-form-field">
             <input type="password" id="password" name="password" required>
             <span class="fas fa-lock"></span>
             <label for="password">Password</label>
         </div>
         
         <div class="reg-form-forgot-pass">
             <a href="#">Forgot Password?</a>
         </div>
         <button type="submit">Login</button>
         <div class="reg-form-sign-up">
             Already a member?
             <a href="#">Login now</a>
         </div>
     </form>
